@media (max-width: 1260px) {
   .firstSectionBg__li::before {
      display: none;
   }
   .text {
      display: none;
   }
   .header__communication {
      right: 25px;
   }
}

@media (max-width: 1024px) {
   .firstSectionBg__block {
      gap: 15px 19px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 342px 260px 260px;
   }
   .firstSectionBg__block:last-child {
      margin-top: 20px;
      grid-template-rows: 342px;
   }
   .medium {
      height: 342px;
      &:last-child {
         display: none;
      }
   }
   .bold .firstSectionBg__img {
      height: 100%;
   }
   .firstSectionBg__link {
      font-size: 35px;
      line-height: 40px;
      width: 100%;
   }
   .text {
      display: block;
      transform: none;
      text-align: center;
      font-size: 31px;
      line-height: 38px;
      top: 278px;
      left: 50%;
      width: 660px;
      transform: translateX(-50%);
   }

   .firstSectionBg__li {
      height: 100%;
      &:nth-child(1) {
         grid-column: span 2;
      }
      &:nth-child(4) {
         overflow: hidden;
         grid-row-start: 3;
         grid-column: span 1;
      }
   }
}

@media (max-width: 768px) {
   .text {
      font-size: 24px;
      line-height: 30px;
      top: 190px;
      width: 100%;
   }
}
@media (max-width: 650px) {
   .firstSectionBg__block {
      gap: 15px 20px;
      grid-template-rows: 220px 150px 150px;
   }
   .firstSectionBg__block:last-child {
      padding-bottom: 70px;
      margin-top: 20px;
      grid-template-rows: 220px;
   }
   .firstSectionBg__link {
      font-size: 17px;
      line-height: 23px;
   }
}
@media (max-width: 400px) {
   .text {
      font-size: 17px;
      top: 165px;
   }
}

////2

/////3
@media (max-width: 1024px) {
   .fullScrinSection {
      &__bg {
         height: 100vh;
      }
      .fullScrinSection__button {
         display: none;
      }
   }
   .fullScrinSection__text {
      height: 100vh;
      margin: 0 auto;
      padding-bottom: 31%;
      align-items: flex-end;
   }
   .fullScrinSection__text::before {
      display: none;
   }
   .sliderSection {
      display: none;
   }
   .fullScrinSection::before {
      width: 100%;
      bottom: 0;
      top: auto;
      left: 0;
      height: 50vh;
   }
}
@media (max-height: 768px) {
   .fullScrinSection__text {
      padding-bottom: 25%;
   }
}
@media (min-width: 1025px) {
   .fullScrinSection::before {
      display: none;
   }
}
