@media (max-width: 1260px) {
   .firstSectionBg__li::before {
      display: none;
   }
   .text {
      display: none;
   }
   .header__communication {
      right: 25px;
   }
}
@media (max-width: 1024px) {
   .firstSectionBg {
      background-size: 50%;
   }
}
@media (max-width: 1024px) {
   .firstSectionBg {
      .arrow {
         display: none;
      }
   }
   .logo {
      width: 440px;
      height: 136px;
   }
   .container {
      padding: 0 70px;
   }
   .firstSectionBg__block {
      gap: 15px 19px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 342px 260px 260px;
   }
   .firstSectionBg__block:last-child {
      margin-top: 20px;
      grid-template-rows: 342px;
   }
   .medium {
      height: 342px;
      &:last-child {
         display: none;
      }
   }
   .bold .firstSectionBg__img {
      height: 100%;
   }
   .firstSectionBg__link {
      font-size: 35px;
      line-height: 40px;
      width: 100%;
   }
   .text {
      display: block;
      transform: none;
      text-align: center;
      font-size: 31px;
      line-height: 38px;
      top: 278px;
      left: 50%;
      width: 660px;
      transform: translateX(-50%);
   }
   .header {
      padding-top: 142px;
      justify-content: center;
   }
   .header__communication {
      top: 60px;
      transform: none;
      right: 70px;
   }
   .header__img {
      width: 100%;
      height: 100%;
   }
   .header__link {
      display: none;
      &:nth-child(2) {
         display: block;
         width: 100px;
         height: 100px;
      }
   }
   .header__button {
      display: none;
   }
   .firstSectionBg__li {
      height: 100%;
      &:nth-child(1) {
         grid-column: span 2;
      }
      &:nth-child(4) {
         overflow: hidden;
         grid-row-start: 3;
         grid-column: span 1;
      }
   }
}
@media (max-width: 900px) {
   .container {
      padding: 0 15px;
   }
}
@media (max-width: 768px) {
   .logo {
      height: 110px;
   }
   .header {
      padding-top: 70px;
   }
   .menu {
      display: none;
   }
   .header__communication {
      top: 20px;
      right: 20px;
   }
   .text {
      font-size: 24px;
      line-height: 30px;
      top: 190px;
      width: 100%;
   }
   .catalog__link {
      font-size: 29px;
      line-height: 35px;
      margin-bottom: 20px;
   }
   .header__link:nth-child(2) {
      width: 50px;
      height: 50px;
   }
}
@media (max-width: 650px) {
   .firstSectionBg__block {
      gap: 15px 20px;
      grid-template-rows: 220px 150px 150px;
   }
   .firstSectionBg__block:last-child {
      padding-bottom: 70px;
      margin-top: 20px;
      grid-template-rows: 220px;
   }
   .firstSectionBg__link {
      font-size: 17px;
      line-height: 23px;
   }
}
@media (max-width: 400px) {
   .text {
      font-size: 17px;
      top: 165px;
   }
   .header {
      margin-bottom: 20px;
   }
   .catalog__link {
      font-size: 21px;
      line-height: 26px;
   }
}

@media (min-width: 1025px) {
   .catalog__link {
      display: none;
   }
   .text {
      br {
         display: none;
      }
   }
}

////2

@media (max-width: 1024px) {
   .secondSection {
      background-size: 90%;
   }
   .secondSection__block {
      justify-content: flex-start;
      max-width: 748px;
      padding-top: 30px;
      padding-left: 0;
      margin-right: 121px;
   }
   .secondSection__title {
      text-align: right;
   }
   .secondSection__row {
      flex-direction: column-reverse;
      align-items: flex-end;
   }
   .buttonSecond {
      font-size: 49px;
      line-height: 59px;
      margin-bottom: 95px;
   }
}
@media (max-width: 800px) {
   .secondSection__block {
      margin-right: 0;
   }
}
@media (max-width: 768px) {
   .secondSection {
      background-size: 75%;
   }
   .buttonSecond {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 30px;
   }
   .secondSection__block {
      margin-right: 0;
   }
   .secondSection__title {
      font-size: 33px;
      line-height: 42px;
   }
   .secondSection__description {
      font-size: 20px;
      max-width: 78%;
      line-height: 26px;
      margin-top: 10px;
   }
}
@media (max-width: 540px) {
   .secondSection__title {
      font-size: 20px;
      line-height: 25px;
   }
   .secondSection__description {
      max-width: 100%;
      font-size: 18px;
      line-height: 22px;
   }
   .buttonSecond {
      font-size: 33px;
      line-height: 39px;
   }
}

/////3
@media (max-width: 1024px) {
   .fullScrinSection {
      &__bg {
         height: 100vh;
      }
      .fullScrinSection__button {
         display: none;
      }
   }
   .fullScrinSection__text {
      height: 100vh;
      margin: 0 auto;
      padding-bottom: 31%;
      align-items: flex-end;
   }
   .fullScrinSection__text::before {
      display: none;
   }
   .sliderSection {
      display: none;
   }
   .fullScrinSection::before {
      width: 100%;
      bottom: 0;
      top: auto;
      left: 0;
      height: 50vh;
   }
}
@media (max-height: 768px) {
   .fullScrinSection__text {
      padding-bottom: 25%;
   }
}
@media (min-width: 1025px) {
   .fullScrinSection::before {
      display: none;
   }
}
