.aside__block {
   background-color: transparent;
   max-width: 100%;
   padding: 0;
   &:first-child {
      margin-bottom: 12px;
      .aside__input {
         display: block;
         min-width: 442px;
      }
   }
   &:nth-child(2) {
      margin-bottom: 9px;
      .card__row-text {
         font-size: 16px;
         line-height: 19px;
         color: rgba(0, 0, 0, 0.24);
         margin-left: 40px;
         margin-top: 15px;
      }
      .card__row-slide::before {
         top: 0;
      }
      .card__row-slide::after {
         top: 3px;
      }
      .aside__input {
         &:nth-child(2) {
            width: 203px;
            margin-right: 4px;
         }
      }
      .aside__input {
         &:nth-child(3) {
            width: 70px;
            margin-right: 4px;
         }
      }
      .aside__input {
         &:nth-child(4) {
            width: 70px;
         }
      }
      .aside__input {
         &:nth-child(5) {
            width: 442px;
         }
      }
   }
   &:hover {
      background-color: transparent;
   }
}
.aside__title {
   text-align: left;
   margin-bottom: 4px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
}
input[type="number"] {
   -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
   -moz-appearance: number-input;
}
.aside__input {
   background-color: transparent;
   border: 1px solid #c4c4c4;
   margin-bottom: 6px;
}

.aside__input,
.aside__input::placeholder {
   font-size: 20px;
   line-height: 24px;
   color: rgba(0, 0, 0, 0.24);
}

.aside__block-text {
   font-family: "Cormorant Infant", serif;
   font-weight: 300;
   font-size: 12px;
   line-height: 15px;
   text-transform: uppercase;
   color: rgba(0, 0, 0, 0.24);
}
