body {
   background-color: #e8e8e8;
   color: #000;
}
.container {
   margin: 0 auto;
   max-width: 1280px;
   padding: 0 10px;
   position: relative;
}
.firstSectionBg {
   background-image: url(../img/FirstBg.png);
   background-repeat: no-repeat;
   background-position: right top;
   background-size: 30%;
   min-height: 100vh;
}
.secondSection {
   min-height: 100vh;
   background-image: url(../img/SecondBg.png);
   background-repeat: no-repeat;
   background-position: left bottom;
   background-size: 43% auto;
}
.button {
   position: relative;
   bottom: 24px;
   left: 50%;
   background-color: transparent;
   transform: translateX(-50%);
   font-family: "Cormorant Infant", serif;
   font-weight: 300;
   font-size: 48px;
   line-height: 58px;
   text-indent: 7px;
   color: #5a7421;
   .arrow {
      position: relative;
      bottom: 15px;
      transform: translateX(-24%);
   }
}
