@import "../scss/_nuleStyle";
@import "../scss/global.scss";
// font-family: 'Cormorant Garamond', serif;
// font-family: 'Cormorant Infant', serif;
.header {
   display: flex;
   padding: 23px 0 45px 10px;
   margin-bottom: 50px;
   &__button {
      position: relative;
      cursor: pointer;
      top: 40px;
      width: 42px;
      height: 35px;
      background-color: #000;
      &::after,
      &::before {
         content: "";
         position: absolute;
         width: 101%;
         height: 13px;
         left: 0;
         background-color: #e8e8e8;
      }
      &::after {
         top: 3px;
      }
      &::before {
         top: 19px;
      }
   }
   &__communication {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 40%;
      z-index: 2000;
      transform: translateY(-50%);
      right: 50px;
   }
   &__link {
      margin: 8px 0;
   }
}
.menu {
   display: flex;
   padding: 54px 45px 60px 11px;
   background-color: #e9e9e9;
   position: absolute;
   justify-content: space-between;
   top: 159px;
   left: 0;
   right: 0;
   opacity: 0.98;
   z-index: -1234;
   transition: opacity 0.6s;
   opacity: 0;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   &__title {
      font-family: "Cormorant Infant", serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      margin-bottom: 22px;
   }
   &__link {
      color: #000;
      font-family: "Cormorant Infant", serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
   }
}
.menu--active {
   z-index: 4;
   opacity: 1;
}

//////////////////////////////
//////////////////////////////

.firstSectionBg {
   position: relative;
   &__block {
      display: grid;
      grid-template-columns: 2fr 3fr 4fr;
      grid-template-rows: 194px 330px;
      max-width: 1054px;
      gap: 23px 15px;
      margin: 0 auto;
      &:last-child {
         grid-template-columns: 1fr 1fr;
         margin-top: 25px;
         grid-template-rows: 1fr;
         padding-bottom: 172px;
      }
   }
   &__img {
      width: 100%;
      text-align: center;
      position: relative;
      height: 100%;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
   }
   &__li {
      position: relative;
      &::before {
         position: absolute;
         content: "";
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         opacity: 0.6;
         z-index: 2;
         transition: all 0.6s;
         background-color: rgb(0, 0, 0);
      }
      &:hover {
         &::before {
            opacity: 0;
         }
      }
   }
   &__link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
      color: #e9e9e9;
      text-align: center;
      text-indent: 7px;
      font-family: "Cormorant Infant", serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      z-index: 3;
   }
}
.big {
   grid-row: span 2;
}
.small {
   height: 195px;
}
.bold {
   .firstSectionBg__img {
      height: 330px;
   }
   grid-column: span 2;
}
.medium {
   height: auto;
   .firstSectionBg__img {
      height: 282px;
   }
}
.bold {
   position: relative;
}
.arrow {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
}
.text {
   text-transform: uppercase;
   position: absolute;
   transform: translateX(-50%) translateY(3040%) rotate(270deg);
   left: 90px;
   top: 0;
}
//////////////////////////////
//////////////////////////////
.secondSection {
   &__block {
      max-width: 810px;
      margin: 0 auto;
      padding-left: 130px;
      height: 100vh;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
   }
   &__title {
      font-family: "Cormorant Infant", serif;
      font-weight: bold;
      font-size: 48px;
      line-height: 58px;
   }
   &__description {
      font-family: "Cormorant Infant", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      max-width: 85%;
      line-height: 29px;
      text-align: right;
   }
   &__row {
      margin-top: 42px;
      display: flex;
   }
   &__link {
      margin-left: 20px;
      display: block;
      width: 54px;
      height: 54px;
      &:last-child {
         font-family: "Cormorant Infant", serif;
         font-weight: bold;
         font-size: 24px;
         line-height: 29px;
         text-align: center;
         width: auto;
         height: auto;
         text-transform: uppercase;
         color: #fff;
         background-color: #81a459;
         padding: 12px 33px;
      }
   }
   &__img {
      width: 100%;
      height: 100%;
   }
   &__button {
      position: absolute;
      bottom: 24px;
      left: 50%;
      background-color: transparent;
      transform: translateX(-50%);
      font-family: "Cormorant Garamond", serif;
      font-weight: 300;
      font-size: 48px;
      line-height: 58px;
      text-indent: 7px;
      text-transform: capitalize;
      color: #5a7421;
      .arrow {
         position: relative;
         bottom: 15px;
         transform: translateX(-24%);
      }
   }
}
